{# Utilisation du squelette "second.html.twig" pour le back-office #}
{% extends 'second.html.twig' %}

{# Définition du titre de la page #}
{% block title %}Administration{% endblock %}

{# Remplissage du body de la page #}
{% block body %}

    <div class="bg-gray-100">

        <div class="text-center">
            <a href="{{ path('main_home') }}" class=" hover:text-blue-700 font-bold">
                Page GLGC
            </a>

        <div class="items-center justify-end">
            <a href="/logout" class="text-red-500 hover:text-red-700 font-bold">
                Déconnexion
            </a>
        </div>
    </div>

        <div class="my-5 flex flex-col items-center md:flex-row md:justify-center md:space-x-4">
            <a href="{{ path('enseigne_list') }}"
               class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mb-4 md:mb-0">
                Liste des Enseignes
            </a>

        <div class="my-5 flex flex-col items-center md:flex-row md:justify-center md:space-x-4">
            <a href="{{ path('enseigne_new') }}"
               class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mb-4 md:mb-0">
                Ajouter une Enseigne
            </a>


        <a href="{{ path('admin_legal') }}"
           class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mb-4 md:mb-0">
            Mentions Légales
        </a>

    </div>


{% endblock %}