{# Utilisation du squelette "second.html.twig" pour le back-office #}
{% extends 'second.html.twig' %}

{# Définition du titre de la page #}
{% block title %}Administration{% endblock %}

{# Remplissage du body de la page #}
{% block body %}

    <div class="bg-gray-100">
        <div class="text-center">
            <a href="{{ path('main_home') }}">Administration</a>
            <div class="flex items-center justify-between">
                <a href="/logout"
                   class="text-red-500 hover:text-red-700 font-bold py-2 px-4 focus:outline-none focus:shadow-outline">
                    Déconnexion
                </a>
            </div>
        </div>


        <div class="mt-5 flex justify-center space-x-4">
            <a href="{{ path('admin_legal') }}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                Mentions Légales
            </a>

            <div class="mt-5 flex justify-center space-x-4">
                <a href="{{ path('enseigne_list') }}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                   Liste des enseignes
                </a>

            {# Récupérer l'id de l'enseigne ici (remplacez "1" par l'id réel) #}
            {% set enseigneId = 1 %}
            <a href="{{ path('enseigne_edit', {'id': enseigneId}) }}" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">
                Modifier l'Enseigne
            </a>
        </div>


            {#personnalisation de l'interface#}

    </div>

{% endblock %}